<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <link href="{% static 'css/account.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Signup</title>

</head>

<body>

<!--    <div class="video-background">-->
<!--        <div class="video-wrap">-->
<!--            <div id="video">-->
<!--                <video id="bgvideo">-->
<!--                    <source src="">-->
<!--                </video>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="main container d-flex justify-content-center text-center col-md-5">
        <div class="card" style="width: 100%">
            <ul class="nav nav-tabs nav-justified" id="tabsList" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#login" id="login-tab" role="tab">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab">Signup</a>
                </li>
            </ul>
            <!-- Login Form -->
            <div class="tab-content">
                <div id="login" class="tab-pane fade show active" role="tabpanel">
                    <div class="col px-4 pb-4 pt-3">
                        <form method="post" action="signin">
                            {% csrf_token %}
                            {{form1|crispy}}
<!--                        <div class="form-group">-->
<!--                            <label for="inputEmail">Email Address:</label>-->
<!--                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"-->
<!--                               placeholder="Enter Email">-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="inputLoginPassword">Password:</label>-->
<!--                            <input type="password" class="form-control" id="inputLoginPassword" placeholder="Enter Password">-->
<!--                        </div>-->
                        <button type="submit" class="btn btn-success submit-btn">Login</button>
                    </form>
                    </div>
                </div>
                <!-- Signup Form -->
                <div id="signup" class="tab-pane fade" role="tabpanel">
                    <div class="col px-4 pb-4 pt-3">
                        <form method="post" class="form-group">
                            {{form2|crispy}}
                            <button type="submit" class="btn btn-primary submit-btn">Sign Up</button>
                        </form>
<!--                        <form method="post" class="form-group">-->
<!--                            <% csrf_token %>-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputFirstName">First Name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputLastName">Last Name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputEmailName">Email:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="email" class="form-control" id="inputEmailName" placeholder="Email">&ndash;&gt;-->
<!--&lt;!&ndash;                                <small id="emailHint" class="form-text text-muted">We'll never share your email without&ndash;&gt;-->
<!--&lt;!&ndash;                                    your permission</small>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputUsername">Username:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputSignUpPassword">Password:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="password" class="form-control" id="inputSignUpPassword" placeholder="Password">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputConfirmPassword">Confirm Password:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="password" class="form-control" id="inputConfirmPassword"&ndash;&gt;-->
<!--&lt;!&ndash;                                       placeholder="Confirm Password">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <button type="submit" class="btn btn-primary submit-btn">Sign Up</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!--<small id="emailHint" class="form-text text-muted">We'll never share your email without your-->
<!--                            permission</small>-->