{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row m-3">
        <h1>Home</h1>
    </div>
    <hr class="w-100" style="border-top: 3px solid rgb(255, 255, 255);">
    <div class="row m-3">
        <h1>Welcome {{fname}} {{lname}}</h1>
    </div>
    <div class="row justify-content-center">
        <form action="/stock" method="GET" class="col-lg-12">
            <div class="input-group shadow">
                <input id="searchbar" name="ticker" type="text" placeholder="Search Stock Ticker (e.g. AAPL, AAPL.BA)" aria-label="Search" class="form-control form-control-lg col-lg-12 border-0 text-white">
                <div class="input-group-append">
                    <button id="searchBtn" type="submit" class="btn btn-secondary" onclick="homeLoading()">Search</button>
                    <div id="homeLoader" class="btn btn-secondary py-2" style="display: none;">
                        <span class="spinner-grow spinner-grow-sm" role="status"></span>
                        <span>Loading...</span>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    {% if msg %}
    <div class="alert alert-light" role="alert">
        {{msg}}
    </div>
    {% endif %}

    <div class="row h-25">
        
        <!-- Single card template -->
        {% for fav in favourites %}
        <form method="get" action="/stock" class="col-4 h-100 py-3">
            <button type="submit" name="ticker" value="{{fav.ticker}}" class="small-card h-100 w-100 grow" onclick="homeLoading()">
                <div class="row align-items-center">
                    <div class="col-2 h-100">
                        <img src="{{fav.logo_url}}" alt="" class="stock-logo m-3">
                    </div>
                    <div class="col-8 h-100 text-left mx-4">
                        <h2>{{fav.longName}}</h2>
                        <p class="m-0"><strong>Ticker: {{fav.ticker}}</strong></p>
                    </div>
                </div>
            </button>
        </form>        
        {% endfor %}
    </div>

    <script>

        const searchBtn = document.getElementById("searchBtn")
        const homeLoader = document.getElementById("homeLoader")

        function homeLoading() {
            searchBtn.style.display = "none"
            homeLoader.style.display = "block"
        }
    </script>

{% endblock %}